<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DB_121539_alkeshpatelfEntities" connectionString="metadata=res://*/Entities.RichmondGroupModel.csdl|res://*/Entities.RichmondGroupModel.ssdl|res://*/Entities.RichmondGroupModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s11.winhost.com;initial catalog=DB_121539_alkeshpatelf;persist security info=True;user id=DB_121539_alkeshpatelf_user;password=Yug$2002;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>